# {{ ansible_managed }}
# avg_tomcat_processingtime_total_gt_5s
ALERT avg_tomcat_processingtime_total_gt_5s
  IF (avg(tomcat_processingtime_total * 0.001)) >= 5
  FOR 5s
  LABELS { severity = "page" }{% raw %}
ANNOTATIONS {
  summary = "Instance {{ $labels.instance }} down",
  description = "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 5s.",
}{% endraw %}