## {{ ansible_managed }}

{% if collectd_global is defined %}
{% for element in collectd_global %}
{{ element.directive }}
{% endfor %}
{% endif %}

## Always load syslog plugin so we can investigate issues
LoadPlugin syslog

<Plugin "syslog">
  LogLevel "info"
  NotifyLevel "OKAY"
</Plugin>

{% if collectd_plugins_srvops is defined %}
## In this section we define all the srvops plugins which have no directives
{% for plugin in collectd_plugins_srvops %}
LoadPlugin  {{ plugin }}
{% endfor %}
{% endif %}

{% if ansible_os_family is defined %}
## In this section we define all the plugins which have no directives based on ansible_os_family
{% if ansible_os_family == "FreeBSD" %}
LoadPlugin pf
{% endif %}
{% if ansible_os_family == "Archlinux" or ansible_os_family == "RedHat" or ansible_os_family == "Debian" %}
LoadPlugin tcpconns
{% endif %}
{% endif %}

{% if collectd_plugins is defined %}
## In this section we define all the plugins which have no directives
{% for element in collectd_plugins %}
{% if element.plugin is defined %}
LoadPlugin {{ element.plugin }}
{% endif %}
{% endfor %}
{% endif %}

{% if collectd_plugins_multi is defined %}
## In this section we define all the plugins which takes multiple directives
{% for key,value in collectd_plugins_multi.iteritems() %}
LoadPlugin {{ key }}

<Plugin "{{ key }}">
{{ value }}
</Plugin>

{% endfor %}
{% endif %}

{% for element in collectd_prometheus %}
{% if element.enable == "true" %}
## Prometheus collectd_exporter
LoadPlugin network
<Plugin network>
  Server "{{ element.server }}" "{{ element.port }}"
</Plugin>
{% endif %}
{% endfor %}

{% if ansible_os_family == "RedHat" %}
{% for element in collectd_vars_RedHat %}
{% if element.includedir is defined %}
# TODO Include "{{ element.includedir }}/*.include.conf"
{% endif %}
{% endfor %}
{% endif %}

{% if ansible_os_family == "Debian" %}
{% for element in collectd_vars_Debian %}
{% if element.includedir is defined %}
# TODO Include "{{ element.includedir }}/*.include.conf"
{% endif %}
{% endfor %}
{% endif %}

{% if ansible_os_family == "FreeBSD" %}
{% for element in collectd_vars_FreeBSD %}
{% if element.includedir is defined %}
# TODO Include "{{ element.includedir }}/*.include.conf"
{% endif %}
{% endfor %}
{% endif %}
