#!/bin/sh

# $FreeBSD: head/www/collectd_exporter/files/collectd_exporter.in 403502 2015-12-11 06:24:55Z pi $
# {{ ansible_managed }}
#
# PROVIDE: collectd_exporter
# REQUIRE: LOGIN
# KEYWORD: shutdown

# Add the following lines to /etc/rc.conf to enable collectd_exporter_enable
# collectd_exporter_enable="YES"
#
# collectd_exporter_enable (bool):   Set to YES to enable collectd_exporter_enable
#        Default: NO
# collectd_exporter_user (str):    collectd_exporter_enable daemon user
#        Default: root
# collectd_exporter_group (str):    collectd_exporter_enable daemon group
#        Default: wheel

. /etc/rc.subr

name="collectd_exporter"
rcvar=collectd_exporter_enable

: ${collectd_exporter_enable:="NO"}
: ${collectd_exporter_flags:=""}
{% if collectd_exporter_owner is defined %}
: ${collectd_exporter_user:="{{ collectd_exporter_owner }}"}
{% else %}
: ${collectd_exporter_user:="root"}
{% endif %}
{% if collectd_exporter_group is defined %}
: ${collectd_exporter_group:="{{ collectd_exporter_group }}"}
{% else %}
: ${collectd_exporter_group:="wheel"}
{% endif %}
{% if collectd_exporter_listen is defined %}
: ${collectd_exporter_listen:=":{{ collectd_exporter_listen }}"}
{% else %}
: ${collectd_exporter_listen:=":25826"}
{% endif %}

pidfile="/var/run/collectd_exporter/${name}.pid"
procname="/usr/local/sbin/collectd_exporter"
command=/usr/sbin/daemon
server=/usr/local/sbin/collectd_exporter
command_args="-collectd.listen-address=${collectd_exporter_listen}"
start_cmd="collectd_exporter_start"
start_precmd="collectd_exporter_precmd"

collectd_exporter_start()
{
  su -m ${collectd_exporter_user} -c "sh -c \"${command} -f -c -p ${pidfile} ${server} ${command_args}\""
}
collectd_exporter_precmd()
{
    mkdir -p /var/log/collectd_exporter /var/run/collectd_exporter
    chown -R ${collectd_exporter_user}:${collectd_exporter_group} /var/log/collectd_exporter/
    chown -R ${collectd_exporter_user}:${collectd_exporter_group} /var/run/collectd_exporter
    install -o ${collectd_exporter_user} /dev/null ${pidfile}
}

load_rc_config $name
run_rc_command "$1"