# {{ ansible_managed }}

{% if ansible_os_family == "FreeBSD" %}
collectd_exporter_enable="YES"
{% if collectd_exporter_owner is defined %}
collectd_exporter_user="{{ collectd_exporter_owner }}"
{% endif %}
{% if collectd_exporter_group is defined %}
collectd_exporter_group="{{ collectd_exporter_group }}"
{% endif %}
{% endif %}