#!/bin/sh

# {{ ansible_managed }}
#
# PROVIDE: alertmanager
# REQUIRE: LOGIN
# KEYWORD: shutdown

# Add the following lines to /etc/rc.conf to enable grafana
# alertmanager_enable="YES"
#

. /etc/rc.subr

name="alertmanager"
rcvar=alertmanager_enable

: ${alertmanager_enable:="NO"}
: ${alertmanager_flags:=""}
{% if alertmanager_owner is defined %}
: ${alertmanager_user:="{{ alertmanager_owner }}"}
{% else %}
: ${alertmanager_user:="root"}
{% endif %}
{% if alertmanager_group is defined %}
: ${alertmanager_group:="{{ alertmanager_group }}"}
{% else %}
: ${alertmanager_group:="wheel"}
{% endif %}
{% if alertmanager_data_dir is defined %}
: ${alertmanager_datadir:="{{ alertmanager_data_dir }}"}
{% else %}
: ${alertmanager_datadir:="/var/db/alertmanager"}
{% endif %}
{% for element in alertmanager_vars_FreeBSD %}
{% if element.alertmanager_conf_dst is defined %}
: ${alertmanager_conf:="{{ element.alertmanager_conf_dst }}"}
{% else %}
: ${alertmanager_conf:="/usr/local/etc/${name}.yml"}
{% endif %}
{% endfor %}
: ${alertmanager_options:="-config.file=${alertmanager_conf} -storage.path=${alertmanager_datadir}"}

pidfile="/var/run/alertmanager/${name}.pid"
{% for element in alertmanager_vars_FreeBSD %}
{% if element.alertmanager_bin_dst is defined %}
procname="{{ element.alertmanager_bin_dst }}"
{% else %}
procname="/usr/local/bin/alertmanager" #
{% endif %}
{% endfor %}
command=/usr/sbin/daemon
server=/usr/local/sbin/alertmanager
command_args="-f -c -p ${pidfile} ${procname} ${alertmanager_options}"
start_cmd="alertmanager_start"
start_precmd="alertmanager_precmd"

alertmanager_start()
{
  su -m ${alertmanager_user} -c "sh -c \"${command} -f -c -p ${pidfile} ${server} ${alertmanager_options}\""
  #${command} -f -c -p ${pidfile} ${server} ${alertmanager_options} 
}

alertmanager_precmd()
{
    mkdir -p /var/db/alertmanager  /var/log/alertmanager /var/run/alertmanager
    chown -R ${alertmanager_user}:${alertmanager_group} /var/db/alertmanager/
    chown -R ${alertmanager_user}:${alertmanager_group} /var/log/alertmanager/
    chown -R ${alertmanager_user}:${alertmanager_group} /var/run/alertmanager
    install -o ${alertmanager_user} /dev/null ${pidfile}
}

load_rc_config $name
run_rc_command "$1"