# {{ ansible_managed }}

{% if ansible_os_family == "FreeBSD" %}
alertmanager_enable="YES"
{% if alertmanager_data_dir is defined %}
alertmanager_datadir="{{ alertmanager_data_dir }}"
{% endif %}
{% if alertmanager_owner is defined %}
alertmanager_user="{{ alertmanager_owner }}"
{% endif %}
{% if alertmanager_group is defined %}
alertmanager_group="{{ alertmanager_group }}"
{% endif %}
{% for element in alertmanager_vars_FreeBSD %}
{% if element.alertmanager_conf_dst is defined %}
alertmanager_conf="{{ element.alertmanager_conf_dst }}"
{% endif %}
{% endfor %}
{% endif %}