# {{ ansible_managed }}

global:
  resolve_timeout: 5m
  smtp_smarthost: '{{ alertmanager_smtp_smarthost }}'
  smtp_from: '{{ alertmanager_smtp_from }}'

route:
  group_by: [alertname]
  repeat_interval: 1h 
  receiver: live-monitoring

receivers:
- name: live-monitoring
  email_configs:
  - to: '{{ alertmanager_smtp_to }}'