{
  "dashboard": {
    "id": null,
    "title": "collectd",
    "originalTitle": "collectd",
    "tags": [],
    "style": "dark",
    "timezone": "browser",
    "editable": true,
    "hideControls": true,
    "sharedCrosshair": true,
    "rows": [
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
            "datasource": "{{ grafana_prom_dc }}",
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
{% raw %}
            "height": "",
            "id": 4,
            "isNew": true,
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "max": true,
              "min": false,
              "rightSide": true,
              "show": true,
              "sort": "current",
              "sortDesc": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 12,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "collectd_cpu{cpu=\"0\",type=\"system\",exported_instance=~\"$host_filter\"}/10000",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{exported_instance}}",
                "metric": "collectd_cpu_total",
                "refId": "A",
                "step": 120
              },
              {
                "expr": "collectd_cpu_total{cpu=\"1\",type=\"system\",exported_instance=~\"$host_filter\"}/10000",
                "hide": false,
                "intervalFactor": 2,
                "legendFormat": "{{exported_instance}}",
                "metric": "collectd_cpu_total",
                "refId": "B",
                "step": 120
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "CPU Usage",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "transparent": false,
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "percent",
              "short"
            ]
          },
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 2,
            "isNew": true,
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "hideEmpty": false,
              "hideZero": false,
              "max": true,
              "min": false,
              "rightSide": true,
              "show": true,
              "sort": "current",
              "sortDesc": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 1,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [
              {
                "alias": "",
                "yaxis": 1
              }
            ],
            "span": 12,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "sum(collectd_load_0{exported_instance=~\"$host_filter\"})",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "1m",
                "metric": "collectd_load_0",
                "refId": "C",
                "step": 120
              },
              {
                "expr": "sum(collectd_load_1{exported_instance=~\"$host_filter\"})",
                "intervalFactor": 2,
                "legendFormat": "5m",
                "metric": "collectd_load_1",
                "refId": "A",
                "step": 120
              },
              {
                "expr": "sum(collectd_load_2{exported_instance=~\"$host_filter\"})",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "15m",
                "metric": "collectd_load_2",
                "refId": "B",
                "step": 120
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Load Averages",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "transparent": false,
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "short",
              "short"
            ]
          }
        ],
        "showTitle": false,
        "title": ""
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 11,
            "isNew": true,
            "leftYAxisLabel": "",
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "max": true,
              "min": false,
              "rightSide": true,
              "show": true,
              "sort": null,
              "sortDesc": null,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 12,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "sum(collectd_memory{memory=\"free\",exported_instance=~\"$host_filter\"} or collectd_memory{memory=\"inactive\",exported_instance=~\"$host_filter\"})",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "mem_free",
                "metric": "collectd_memory",
                "refId": "A",
                "step": 120
              },
              {
                "expr": "sum(collectd_swap{swap=\"free\",exported_instance=~\"$host_filter\"})",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "swap_free",
                "metric": "collectd_swap",
                "refId": "D",
                "step": 120
              },
              {
                "expr": "sum(collectd_memory{memory=\"used\",exported_instance=~\"$host_filter\"} or collectd_memory{memory=\"active\",exported_instance=~\"$host_filter\"})",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "mem_used",
                "metric": "collectd_memory",
                "refId": "B",
                "step": 120
              },
              {
                "expr": "sum(collectd_swap{swap=\"used\",exported_instance=~\"$host_filter\"})",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "swap_used",
                "metric": "collectd_swap",
                "refId": "C",
                "step": 120
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Memory Usage",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "transparent": false,
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "bytes",
              "short"
            ]
          }
        ],
        "title": "",
        "showTitle": false
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 6,
            "isNew": true,
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "hideEmpty": false,
              "hideZero": false,
              "max": true,
              "min": false,
              "rightSide": true,
              "show": true,
              "sort": "max",
              "sortDesc": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 12,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "sum(rate(collectd_interface_if_packets_0{exported_instance=~\"$host_filter\"}[15m]))",
                "hide": false,
                "intervalFactor": 2,
                "legendFormat": "RX",
                "metric": "collectd_interface_if_packets_0",
                "refId": "A",
                "step": 120
              },
              {
                "expr": "sum(rate(collectd_interface_if_packets_1{exported_instance=~\"$host_filter\"}[15m]))",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "TX",
                "metric": "collectd_interface_if_packets_1",
                "refId": "B",
                "step": 120
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Network",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "transparent": false,
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "pps",
              "short"
            ]
          },
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 12,
            "isNew": true,
            "leftYAxisLabel": "",
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "max": false,
              "min": false,
              "rightSide": true,
              "show": true,
              "sort": "max",
              "sortDesc": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 12,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "sum( collectd_df_df_complex{df=\"root\"} and collectd_df_df_complex{type=\"free\"} )  + sum(collectd_df_1{df=\"root\"})",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "Available",
                "metric": "collectd_df_df_complex",
                "refId": "A",
                "step": 120
              },
              {
                "expr": "sum ( collectd_df_df_complex{df=\"root\"} and collectd_df_df_complex{type=\"used\"} )  + sum(collectd_df_1{df=\"root\"})",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "Used",
                "metric": "collectd_df_df_complex",
                "refId": "B",
                "step": 120
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Disk Usage",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "transparent": false,
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "bytes",
              "short"
            ]
          }
        ],
        "title": "",
        "showTitle": false
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 5,
            "isNew": true,
            "legend": {
              "alignAsTable": true,
              "avg": false,
              "current": true,
              "max": false,
              "min": false,
              "rightSide": true,
              "show": true,
              "sort": "current",
              "sortDesc": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 1,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 12,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "collectd_users{exported_instance=~\"$host_filter\"}  ",
                "hide": false,
                "intervalFactor": 2,
                "legendFormat": "{{exported_instance}}",
                "metric": "collectd_users",
                "refId": "A",
                "step": 120
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Logged in Users",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "short",
              "short"
            ]
          }
        ],
        "title": "",
        "showTitle": false
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 3,
            "isNew": true,
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "max": false,
              "min": false,
              "rightSide": true,
              "show": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 12,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "avg(collectd_uptime{exported_instance=~\"$host_filter\"})",
                "hide": false,
                "intervalFactor": 2,
                "legendFormat": "uptime",
                "metric": "collectd_uptime",
                "refId": "A",
                "step": 120
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Uptime",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "s",
              "short"
            ]
          }
        ],
        "title": "",
        "showTitle": false
      }
    ],
    "time": {
      "from": "now-24h",
      "to": "now"
    },
    "timepicker": {
      "now": true,
      "refresh_intervals": [
        "5s",
        "10s",
        "30s",
        "1m",
        "5m",
        "15m",
        "30m",
        "1h",
        "2h",
        "1d"
      ],
      "time_options": [
        "5m",
        "15m",
        "1h",
        "6h",
        "12h",
        "24h",
        "2d",
        "7d",
        "30d"
      ]
    },
{% endraw %}
    "templating": {
      "list": [
        {
          "allFormat": "pipe",
          "current": {
            "text": "All",
            "value": ""
          },
          "datasource": "{{ grafana_prom_dc }}",          
          "includeAll": true,
          "multi": true,
          "multiFormat": "pipe",
          "name": "host_filter",
          "options": [
          ],
          "query": "label_values(exported_instance)",
          "refresh": true,
          "regex": "",
          "type": "query",
          "useTags": false
        }
      ]
    },
    "annotations": {
      "list": []
    },
    "refresh": "15m",
    "schemaVersion": 8,
    "version": 5,
    "links": []
  },
  "overwrite": false
}