{
  "dashboard": {
    "id": null,
    "title": "docker",
    "originalTitle": "docker",
    "tags": [],
    "style": "dark",
    "timezone": "browser",
    "editable": true,
    "hideControls": true,
    "sharedCrosshair": false,
    "rows": [
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 2,
            "isNew": true,
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "max": true,
              "min": false,
              "rightSide": false,
              "show": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 6,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "irate(container_cpu_user_seconds_total{image!=\"\",image=~\"$container\",instance=~\"$instance\"}[30s]) * 100",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{image}}@{{instance}}",
                "metric": "container_cpu_system_seconds_total",
                "refId": "A",
                "step": 2
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Container CPU Usage",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "percent",
              "short"
            ]
          },
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}
            "datasource": "{{ grafana_prom_dc }}",   
{% raw %}            
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 9,
            "isNew": true,
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "hideEmpty": false,
              "max": true,
              "min": false,
              "show": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 6,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "(container_memory_usage_bytes{image!=\"\",image=~\"$container\",instance=~\"$instance\"})",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{name}}@{{instance}}",
                "metric": "container_memory_usage_bytes",
                "refId": "A",
                "step": 2
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Memory Usage",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "bytes",
              "short"
            ]
          }
        ],
        "title": "New row"
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 12,
            "isNew": true,
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "max": true,
              "min": false,
              "rightSide": true,
              "show": true,
              "sort": "current",
              "sortDesc": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 12,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "sum((container_network_receive_bytes_total{image!="",image=~"$container",instance=~"$instance"}))",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "RX",
                "metric": "container_network_receive_bytes_total",
                "refId": "A",
                "step": 2
              },
              {
                "expr": "sum((container_network_transmit_bytes_total{image!="",image=~"$container",instance=~"$instance"}))",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "TX",
                "metric": "container_network_transmit_bytes_total",
                "refId": "B",
                "step": 2
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Network Traffic",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "bytes",
              "short"
            ]
          }
        ],
        "title": "New row"
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 14,
            "isNew": true,
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "max": true,
              "min": false,
              "show": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 12,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "sum(container_fs_limit_bytes{instance=~\"$instance\"})",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "FS limit",
                "metric": "container_fs_limit_bytes",
                "refId": "A",
                "step": 2
              },
              {
                "expr": "sum(container_fs_usage_bytes{instance=~\"$instance\"})",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "FS Usage",
                "metric": "container_fs_usage_bytes",
                "refId": "B",
                "step": 2
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Engine Filesystem Limit/Usage",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "bytes",
              "short"
            ]
          }
        ],
        "title": "New row"
      }
    ],
    "time": {
      "from": "now-24h",
      "to": "now"
    },
    "timepicker": {
      "now": true,
      "refresh_intervals": [
        "5s",
        "10s",
        "30s",
        "1m",
        "5m",
        "15m",
        "30m",
        "1h",
        "2h",
        "1d"
      ],
      "time_options": [
        "5m",
        "15m",
        "1h",
        "6h",
        "12h",
        "24h",
        "2d",
        "7d",
        "30d"
      ]
    },
{% endraw %}    
    "templating": {
      "list": [
        {
          "allFormat": "pipe",
          "current": {
            "text": "All",
            "value": ""
          },
          "datasource": "{{ grafana_prom_dc }}",   
          "includeAll": true,
          "multi": true,
          "multiFormat": "pipe",
          "name": "container",
          "options": [
          ],
          "query": "label_values(image)",
          "refresh": true,
          "regex": "",
          "type": "query"
        },
        {
          "allFormat": "pipe",
          "current": {
            "text": "All",
            "value": ""
          },
          "datasource": "{{ grafana_prom_dc }}",   
          "includeAll": true,
          "multi": true,
          "multiFormat": "pipe",
          "name": "instance",
          "options": [
          ],
          "query": "label_values(instance)",
          "refresh": true,
          "regex": "",
          "type": "query"
        }
      ]
    },
    "annotations": {
      "list": []
    },
    "refresh": "15m",
    "schemaVersion": 8,
    "version": 23,
    "links": []
  },
  "overwrite": false
}