# {{ ansible_managed }}

grafana3_enable="YES"
{% for element in grafana_vars_FreeBSD %}
{% if element.grafana_owner is defined %}
grafana3_user="{{ element.grafana_owner }}"
{% endif %}
{% if element.grafana_group is defined %}
grafana3_group="{{ element.grafana_group }}"
{% endif %}
{% if element.grafana_conf_dst is defined %}
grafana3_conf="{{ element.grafana_conf_dst }}"
{% endif %}
{% endfor %}