#!/usr/bin/env bash
# {{ ansible_managed }}

# prometheus backend setup
{% if grafana_prom_dc is defined %}
curl -s 'http://{{ grafana_setup_user }}:{{ grafana_setup_pass }}@127.0.0.1:3000/api/datasources' | grep '"name":"{{ grafana_prom_dc }}"'
{% else %}
curl -s 'http://{{ grafana_setup_user }}:{{ grafana_setup_pass }}@127.0.0.1:3000/api/datasources' | grep '"name":"Prometheus"'
{% endif %}
if [ $? -eq 1 ]; then
  curl -s 'http://{{ grafana_setup_user }}:{{ grafana_setup_pass }}@127.0.0.1:3000/api/datasources' \
  -X POST \
  -H 'Content-Type: application/json;charset=UTF-8' \
  --data-binary \
  '{"name":"{{ grafana_prom_dc }}","type":"prometheus","url":"http://{{ inventory_hostname }}:9090","access":"direct","isDefault":true,"database":"mydb","user":"{{ grafana_setup_user }}","password":"{{ grafana_setup_pass }}"}' \
  2>&1 > /dev/null
fi

# dashboards
for dashboard in collectd docker jmx prometheus; do
  curl -s "http://{{ grafana_setup_user }}:{{ grafana_setup_pass }}@127.0.0.1:3000/api/dashboards/db/$dashboard" | \
  grep 'Dashboard not found'
  if [ $? -eq 0 ]; then
    curl -s 'http://{{ grafana_setup_user }}:{{ grafana_setup_pass }}@127.0.0.1:3000/api/dashboards/db' \
    -X POST \
    -H 'Content-Type: application/json;charset=UTF-8' \
    -d "@/tmp/$dashboard.json" 2>&1 > /dev/null
  fi
done  