## {{ ansible_managed }}

{% if grafana_app_mode is defined %}
app_mode = {{ grafana_app_mode }}
{% endif %}
[paths]
{% if grafana_datadir is defined %}
data = {{ grafana_datadir }}
{% else %}
data = /var/db/grafana3/
{% endif %}
{% if grafana_logdir is defined %}
logs = {{ grafana_logdir }}
{% else %}
logs = /var/log/grafana3/
{% endif %}
{% if grafana_pluginsdir is defined %}
plugins = {{ grafana_pluginsdir }}
{% else %}
plugins = /var/db/grafana3/plugins
{% endif %}
[server]
{% if grafana_protocol is defined %}
# Protocol (http or https)
protocol = {{ grafana_protocol }}
{% endif %}
{% if grafana_http_port is defined %}
# The http port  to use
http_port = {{ grafana_http_port }}
{% endif %}
static_root_path = public_gen
[database]
[session]
[analytics]
check_for_updates = true
[security]
[snapshots]
[users]
[auth.anonymous]
[auth.github]
[auth.google]
[auth.proxy]
[auth.basic]
[auth.ldap]
[smtp]
[emails]
[log]
[log.console]
[log.file]
[event_publisher]
[dashboards.json]
path = /var/db/grafana3/dashboards