#!/bin/sh
# {{ ansible_managed }}
# $FreeBSD$
#
# PROVIDE: grafana3
# REQUIRE: LOGIN
# KEYWORD: shutdown

# Add the following lines to /etc/rc.conf to enable grafana
# grafana_enable="YES"
#
# grafana3_enable (bool):   Set to YES to enable grafana
#        Default: NO
# grafana3_conf (str):    grafana configration file
#        Default: ${PREFIX}/etc/grafana.cfg
# grafana3_user (str):    grafana daemon user
#        Default: grafana
# grafana3_group (str):    grafana daemon group
#        Default: grafana

. /etc/rc.subr

name="grafana3"
rcvar=grafana3_enable

: ${grafana3_enable:="NO"}
{% for element in grafana_vars_FreeBSD %}
{% if element.grafana_owner is defined %}
: ${grafana3_user:="{{ element.grafana_owner }}"}
{% else %}
: ${grafana3_user:="grafana"}
{% endif %}
{% if element.grafana_group is defined %}
: ${grafana3_group:="{{ element.grafana_group }}"}
{% else %}
: ${grafana3_group:="grafana"}
{% endif %}
{% if element.grafana_conf_dst is defined %}
: ${grafana3_conf:="{{ element.grafana_conf_dst }}"}
{% else %}
: ${grafana3_conf:="/usr/local/etc/${name}.conf"}
{% endif %}
{% endfor %}
: ${grafana3_options:="-config=${grafana3_conf} -homepath=/usr/local/share/grafana/"}

pidfile="/var/run/grafana3/${name}.pid"
procname="/usr/local/bin/grafana-server"
command=/usr/sbin/daemon
command_args="-f -c -p ${pidfile} ${procname} ${grafana3_options}"
start_precmd="grafana_precmd"

grafana_precmd()
{
    mkdir -p /var/db/grafana3  /var/log/grafana3  /usr/local/share/grafana/data/log
    chown -R ${grafana3_user}:${grafana3_group} /var/db/grafana3/
    chown -R ${grafana3_user}:${grafana3_group} /var/log/grafana3/
    chown -R ${grafana3_user}:${grafana3_group} /usr/local/share/grafana/data/log/
    install -o ${grafana3_user} /dev/null ${pidfile}
}

load_rc_config $name
run_rc_command "$1"