{
  "dashboard": {
    "id": null,
    "title": "jmx",
    "originalTitle": "jmx",
    "tags": [],
    "style": "dark",
    "timezone": "browser",
    "editable": true,
    "hideControls": false,
    "sharedCrosshair": false,
    "rows": [
      {
        "collapse": false,
        "editable": true,
        "height": "100px",
        "panels": [
          {
            "cacheTimeout": null,
            "colorBackground": false,
            "colorValue": true,
            "colors": [
              "rgba(245, 54, 54, 0.9)",
              "rgba(237, 129, 40, 0.89)",
              "rgba(50, 172, 45, 0.97)"
            ],
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "format": "none",
            "id": 5,
            "interval": null,
            "isNew": true,
            "links": [],
            "maxDataPoints": 100,
            "nullPointMode": "connected",
            "nullText": null,
            "postfix": "",
            "postfixFontSize": "50%",
            "prefix": "",
            "prefixFontSize": "50%",
            "span": 4,
            "sparkline": {
              "fillColor": "rgba(31, 118, 189, 0.18)",
              "full": true,
              "lineColor": "rgb(31, 120, 193)",
              "show": true
            },
            "targets": [
              {
                "expr": "tomcat_requestcount_total{instance=~\"$host\"}",
                "intervalFactor": 2,
                "legendFormat": "",
                "metric": "tomcat_requestcount_total",
                "refId": "A",
                "step": 120
              }
            ],
            "thresholds": "20,10,0",
            "title": "Requests",
            "type": "singlestat",
            "valueFontSize": "80%",
            "valueMaps": [
              {
                "op": "=",
                "text": "N/A",
                "value": "null"
              }
            ],
            "valueName": "avg"
          },
          {
            "cacheTimeout": null,
            "colorBackground": false,
            "colorValue": true,
            "colors": [
              "rgba(245, 54, 54, 0.9)",
              "rgba(237, 129, 40, 0.89)",
              "rgba(50, 172, 45, 0.97)"
            ],
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "format": "none",
            "id": 6,
            "interval": null,
            "isNew": true,
            "links": [],
            "maxDataPoints": 100,
            "nullPointMode": "connected",
            "nullText": null,
            "postfix": "",
            "postfixFontSize": "50%",
            "prefix": "",
            "prefixFontSize": "50%",
            "span": 4,
            "sparkline": {
              "fillColor": "rgba(31, 118, 189, 0.18)",
              "full": true,
              "lineColor": "rgb(31, 120, 193)",
              "show": true
            },
            "targets": [
              {
                "expr": "tomcat_errorcount_total{instance=~\"$host\"}",
                "intervalFactor": 2,
                "metric": "tomcat_errorcount_total",
                "refId": "A",
                "step": 120
              }
            ],
            "thresholds": "20,10,0",
            "title": "Errors",
            "type": "singlestat",
            "valueFontSize": "80%",
            "valueMaps": [
              {
                "op": "=",
                "text": "N/A",
                "value": "null"
              }
            ],
            "valueName": "avg"
          },
          {
            "cacheTimeout": null,
            "colorBackground": false,
            "colorValue": true,
            "colors": [
              "rgba(245, 54, 54, 0.9)",
              "rgba(237, 129, 40, 0.89)",
              "rgba(50, 172, 45, 0.97)"
            ],
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "format": "none",
            "id": 7,
            "interval": null,
            "isNew": true,
            "links": [],
            "maxDataPoints": 100,
            "nullPointMode": "connected",
            "nullText": null,
            "postfix": "",
            "postfixFontSize": "50%",
            "prefix": "",
            "prefixFontSize": "50%",
            "span": 4,
            "sparkline": {
              "fillColor": "rgba(31, 118, 189, 0.18)",
              "full": true,
              "lineColor": "rgb(31, 120, 193)",
              "show": true
            },
            "targets": [
              {
                "expr": "(tomcat_processingtime_total{instance=~\"$host\"}) / 60",
                "intervalFactor": 2,
                "metric": "tomcat_processingtime_total",
                "refId": "A",
                "step": 120
              }
            ],
            "thresholds": "20,10,1",
            "title": "Total Processing Time (seconds)",
            "type": "singlestat",
            "valueFontSize": "80%",
            "valueMaps": [
              {
                "op": "=",
                "text": "N/A",
                "value": "null"
              }
            ],
            "valueName": "avg"
          }
        ],
        "title": "Row"
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 8,
            "isNew": true,
            "legend": {
              "avg": false,
              "current": false,
              "max": false,
              "min": false,
              "show": true,
              "total": false,
              "values": false
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 5,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "tomcat_threadpool_connectioncount{instance=~\"$host\"}",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "connectioncount",
                "metric": "tomcat_threadpool_connectioncount",
                "refId": "A",
                "step": 11
              },
              {
                "expr": "tomcat_threadpool_currentthreadcount{instance=~\"$host\"}",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "currentthreadcount",
                "metric": "tomcat_threadpool_currentthreadcount",
                "refId": "B",
                "step": 11
              },
              {
                "expr": "tomcat_threadpool_currentthreadsbusy{instance=~\"$host\"}",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "currentthreadsbusy",
                "metric": "tomcat_threadpool_currentthreadsbusy",
                "refId": "C",
                "step": 11
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Threads",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "short",
              "short"
            ]
          },
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 9,
            "isNew": true,
            "legend": {
              "avg": false,
              "current": false,
              "max": false,
              "min": false,
              "show": true,
              "total": false,
              "values": false
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 4,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "jvm_gc_collection_seconds_sum{instance=~\"$host\"}",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{gc}}",
                "metric": "jvm_gc_collection_seconds_sum",
                "refId": "A",
                "step": 11
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "JVM Garbage Collection",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "s",
              "short"
            ]
          },
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 3,
            "isNew": true,
            "legend": {
              "avg": false,
              "current": false,
              "max": false,
              "min": false,
              "show": true,
              "total": false,
              "values": false
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 3,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "sum(tomcat_bytesreceived_total{instance=~\"$host\"})",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "RX",
                "metric": "tomcat_bytesreceived_total",
                "refId": "A",
                "step": 21
              },
              {
                "expr": "sum(tomcat_bytessent_total{instance=~\"$host\"})",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "TX",
                "metric": "tomcat_bytessent_total",
                "refId": "B",
                "step": 21
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Network",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "bytes",
              "short"
            ]
          }
        ],
        "title": "New row"
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 11,
            "isNew": true,
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "max": true,
              "min": false,
              "rightSide": true,
              "show": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 12,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "jvm_memory_pool_bytes_committed{instance=~\"$host\"}",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{pool}} Committed",
                "metric": "jvm_memory_pool_bytes_committed",
                "refId": "D",
                "step": 2
              },
              {
                "expr": "jvm_memory_pool_bytes_max{instance=~\"$host\"}",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{pool}} Max",
                "metric": "jvm_memory_pool_bytes_max",
                "refId": "E",
                "step": 2
              },
              {
                "expr": "jvm_memory_pool_bytes_used{instance=~\"$host\"}",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{pool}} Used",
                "metric": "jvm_memory_pool_bytes_used",
                "refId": "F",
                "step": 2
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "JVM Memory Pool",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "bytes",
              "short"
            ]
          }
        ],
        "title": "New row"
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "leftLogBase": 1,
              "leftMax": null,
              "leftMin": null,
              "rightLogBase": 1,
              "rightMax": null,
              "rightMin": null,
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 4,
            "isNew": true,
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "max": true,
              "min": false,
              "rightSide": true,
              "show": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 12,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "jvm_memory_bytes_committed{instance=~\"$host\"}",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{area}} committed",
                "metric": "jvm_memory_bytes_committed",
                "refId": "A",
                "step": 2
              },
              {
                "expr": "jvm_memory_bytes_max{instance=~\"$host\"}",
                "hide": false,
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{area}} max",
                "metric": "jvm_memory_bytes_max",
                "refId": "B",
                "step": 2
              },
              {
                "expr": "jvm_memory_bytes_used{instance=~\"$host\"}",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{area}} used",
                "metric": "jvm_memory_bytes_used",
                "refId": "C",
                "step": 2
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "JVM Memory Heap",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative"
            },
            "type": "graph",
            "x-axis": true,
            "y-axis": true,
            "y_formats": [
              "bytes",
              "short"
            ]
          }
        ],
        "title": "New row"
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [],
        "title": "New row"
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [],
        "title": "New row"
      }
    ],
    "time": {
      "from": "now/d",
      "to": "now"
    },
    "timepicker": {
      "now": true,
      "refresh_intervals": [
        "5s",
        "10s",
        "30s",
        "1m",
        "5m",
        "15m",
        "30m",
        "1h",
        "2h",
        "1d"
      ],
      "time_options": [
        "5m",
        "15m",
        "1h",
        "6h",
        "12h",
        "24h",
        "2d",
        "7d",
        "30d"
      ]
    },
    "templating": {
      "list": [
        {
          "allFormat": "pipe",
          "current": {
            "text": "All",
            "value": ""
          },
{% endraw %}            
            "datasource": "{{ grafana_prom_dc }}",
{% raw %}
          "includeAll": true,
          "multi": true,
          "multiFormat": "pipe",
          "name": "host",
          "options": [
          ],
          "query": "label_values(instance)",
          "refresh": true,
          "regex": "",
          "type": "query"
        }
      ]
    },
    "annotations": {
      "list": []
    },
    "refresh": "15m",
    "schemaVersion": 8,
    "version": 25,
    "links": []
  },
  "overwrite": false
}
{% endraw %}