#!/bin/sh

# {{ ansible_managed }}
#
# PROVIDE: prometheus
# REQUIRE: LOGIN
# KEYWORD: shutdown

# Add the following lines to /etc/rc.conf to enable prometheus
# prometheus_enable="YES"
#
# prometheus_enable (bool):   Set to YES to enable prometheus
#        Default: NO
# prometheus_conf (str):    prometheus configration file
#        Default: ${PREFIX}/etc/prometheus.cfg
# prometheus_user (str):    prometheus daemon user
#        Default: prometheus
# prometheus_group (str):    prometheus daemon group
#        Default: prometheus

. /etc/rc.subr

name="prometheus"
rcvar=prometheus_enable

: ${prometheus_enable:="NO"}
: ${prometheus_flags:=""}
{% for element in prometheus_vars_FreeBSD %}
{% if prom_owner is defined %}
: ${prometheus_user:="{{ prom_owner }}"}
{% else %}
: ${prometheus_user:="root"}
{% endif %}
{% if prom_group is defined %}
: ${prometheus_group:="{{ prom_group }}"}
{% else %}
: ${prometheus_group:="wheel"}
{% endif %}
{% if element.prom_conf_dst is defined %}
: ${prometheus_conf:="{{ element.prom_conf_dst }}"}
{% else %}
: ${prometheus_conf:="/usr/local/etc/${name}.yml"}
{% endif %}
{% endfor %}
{% if prometheus_datadir is defined %}
: ${prometheus_datadir:="{{ prometheus_datadir }}"}
{% else %}
: ${prometheus_datadir:="/var/db/prometheus"}
{% endif %}
: ${prometheus_options:="-config.file=${prometheus_conf} -storage.local.path=${prometheus_datadir}"}

pidfile="/var/run/prometheus/${name}.pid"
procname="/usr/local/sbin/prometheus"
command=/usr/sbin/daemon
server=/usr/local/sbin/prometheus
command_args="-f -c -p ${pidfile} ${procname} ${prometheus_options}"
start_cmd="prometheus_start"
start_precmd="prometheus_precmd"

prometheus_start()
{
  su -m ${prometheus_user} -c "sh -c \"${command} -f -c -p ${pidfile} ${server} ${prometheus_options}\""
}

prometheus_precmd()
{
    mkdir -p /var/db/prometheus  /var/log/prometheus /var/run/prometheus
    chown -R ${prometheus_user}:${prometheus_group} /var/db/prometheus/
    chown -R ${prometheus_user}:${prometheus_group} /var/log/prometheus/
    chown -R ${prometheus_user}:${prometheus_group} /var/run/prometheus
    install -o ${prometheus_user} /dev/null ${pidfile}
}

load_rc_config $name
run_rc_command "$1"