# {{ ansible_managed }}

{% if ansible_os_family == "FreeBSD" %}
prometheus_enable="YES"
{% if prometheus_datadir is defined %}
prometheus_datadir="{{ prometheus_datadir }}"
{% endif %}
{% for element in prometheus_vars_FreeBSD %}
{% if element.prom_confdst is defined %}
prometheus_conf="{{ element.prom_confdst }}"
{% endif %}
{% if element.prom_owner is defined %}
prometheus_user="{{ element.prom_owner }}"
{% endif %}
{% if element.prom_group is defined %}
prometheus_group="{{ element.prom_group }}"
{% endif %}
{% endfor %}
{% endif %}