# {{ ansible_managed }}
global:
{% if global_scrape_interval is defined %}
  scrape_interval:     {{ global_scrape_interval }}
{% else %}
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
{% endif %}
{% if global_evaluation_interval is defined %}
  evaluation_interval: {{ global_evaluation_interval }} # Evaluate rules every 15 seconds.
{% else %}
  evaluation_interval: 15s # Evaluate rules every 15 seconds.
{% endif %}
{% if global_external_labels is defined %}
  external_labels:
    monitor: '{{ global_external_labels }}'
{% else %}
  external_labels:
    monitor: 'codelab-monitor'
{% endif %}

{% for element in prometheus_vars_FreeBSD %}
{% if element.prom_alertmanager_rule_path is defined %}
# Rule files specifies a list of files from which rules are read.
rule_files:
  - {{ element.prom_alertmanager_rule_path }}/{{ element.prom_alertmanager_rule_ext }}
{% endif %}
{% endfor %}

{% if prom_exporters_multi is defined %}
## In this section we define all the exporters endpoints which takes multiple directives
scrape_configs:
{% for key,value in prom_exporters_multi.iteritems() %}
  - job_name: '{{ key }}'
    {{ value }}

{% endfor %}
{% else %}
scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    target_groups:
    - targets: ['localhost:9090']
{% endif %}

{% if (prom_cadvisor_exporter_nodes is defined) and (prom_cadvisor_port is defined) and (prom_cadvisor_scrape_interval is defined) %}
## In this section we define all the cadvisor_exporters endpoints using hostvars
  - job_name: 'cadvisor_exporter'
    scrape_interval: "{{ prom_cadvisor_scrape_interval }}"
    target_groups:
    - targets: [{% for host in prom_cadvisor_exporter_nodes %} '{{ host }}:{{ prom_cadvisor_port }}', {% endfor %}]
{% endif %}

{% if (prom_jmx_tomcat_exporter_nodes is defined) and (prom_jmx_tomcat_exporter_port is defined) and (prom_jmx_tomcat_exporter_scrape_interval is defined) %}
## In this section we define all the jmx_exporters endpoints using hostvars
  - job_name: 'jmx_exporter'
    scrape_interval: "{{ prom_jmx_tomcat_exporter_scrape_interval }}"
    target_groups:
    - targets: [{% for host in prom_jmx_tomcat_exporter_nodes %} '{{ host }}:{{ prom_jmx_tomcat_exporter_port }}', {% endfor %}]
{% endif %}
